fastapi
uvicorn[standard]
pymupdf
pdfplumber
paddleocr
paddlepaddle
pymilvus
numpy
pandas
requests
scikit-learn
gradio
sentence-transformers
transformers
torch
openai
ragas
faster-whisper
soundfile
pymongo
boto3
redis
